<div id="container" class="px-[8%] py-[2%] flex">
  <div class="flex flex-col">
    <h2 id="contTitle" class="text-3xl">Universiti Utara Malaysia</h2>
    <div class="text-2xl flex justify-between items-center">
      <p id="lefty" class="inline-block">INFORMATION TECHNOLOGY</p>
      <div id="bar-between" class="border-t border-gunmental h-[1px]"></div>
      <p id="righty">2021-2025</p>
    </div>
    <p id="content" class="text-justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam suscipit
      totam iusto, molestiae cupiditate porro perspiciatis quam quibusdam
      maiores ad corporis, labore sed distinctio explicabo eaque non? Sunt,
      ullam impedit. Et nam atque dolorum nostrum iste quidem aperiam,
      temporibus voluptate, voluptatibus vero quae repellat recusandae, dolor
      reprehenderit? Est, amet unde, fugit voluptatem, quod ab ipsa et nam
      quaerat obcaecati praesentium!
    </p>
  </div>
</div>
<script src="../res/scripts/calculateLength.js"></script>
