<div
  id="container"
  class="mx-[12%] my-[1%] py-[1%] flex items-center border-t border-ultramarine-blue"
>
  <div class="bg-center w-[40px] h-[40px] mr-[3%]">
    <img src="../res/svg/star.svg" alt="Test!" />
  </div>
  <div class="flex flex-col w-full">
    <div class="text-1xl flex justify-between items-center">
      <p id="title" class="inline-block"><i>Universiti Utara Malaysia</i></p>
      <div id="bar-between" class="border-t border-gunmental h-[0.4px]"></div>
      <p id="date">2021-2025</p>
    </div>
    <h2 id="subtitle" class="text-2xl font-bold">INFORMATION TECHNOLOGY</h2>
  </div>
</div>
