@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gotham';
    src: url('../res/fonts/Gotham-Light.otf');
    font-weight: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('../res/fonts/Gotham-Thin.otf');
    font-weight: 100;
}
@font-face {
    font-family: 'Gotham';
    src: url('../res/fonts/Gotham-Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'Bebas-Neue';
    src: url('../res/fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'cosmos';
    src: url('../res/fonts/planet-cosmos.ttf');
}
@font-face {
    font-family: 'times-new-roman';
    src: url('../res/fonts/times-new-roman.ttf');
}

@font-face {
    font-family: 'exposition';
    src: url('../res/fonts/exposition.ttf');
}